services:
  database:
    image: docker.io/postgres:16-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    depends_on:
      database:
        condition: service_healthy
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://postgres:mysecretpassword@database:5432/postgres
      DATABASE_POOL_MAX: 10
    volumes:
      - .:/app:Z
    command: node --watch src/index.js

volumes:
  data:
